/*
AUTHOR INFO 
NAME : ISLAM SAEED 
EMAIL : ISLAM.S.MHMD1998@GMAIL.COM
*/

/* STANDARD  SYNTAX FOR THEME 


FIRST COLOR : #7ACEC3 ;
SECOND COLOR : #EBB240;
THIRD COLOR : #FFFFFF ;
FOURTH COLOR : #DFE0D9 ;
FIFTH COLOR : #717D86 ;
SIXTH COLOR : #CECECE ;
SEVENTH COLOR :#FF9B6D ;
NINGTH COLOR : #D4EDBF ;

HEADERS FONT : font-family: 'Anton', sans-serif; ;

*/

/* styling uper bar div */

header 
{
    background: url("../IMGS/background.png") center center no-repeat;
    background-size: cover;
    min-height: 600px;
}
header .background-container 
{
    text-transform: uppercase;
}

header .navbar-brand
{
    color:#f7f1e3;
    font-weight: bold;
    font-size:1.55rem;
}
header .navbar-brand > span
{
    color:#ff5964;
}
header .navbar-brand:hover
{
 color:#ff5964;
}
header .navbar a
{
    color:#f7f1e3;
}
header  .content .h1
{
    margin-bottom: 20px;
}
@media(max-width:567px)
{
    header  .content .h1
    {
         font-size:2rem;
    }
    header  .content h6
    {
        font-size: 1rem
    }
    header .content{
        margin-top:2em;
    } 
}
header .content
{
    color:#f7f1e3;
    padding:10% 0 ;        
}

header .btn-primary
{
    background: #ff5964;
    border-color: #ff5964;
    border-radius: 0;
    text-transform: uppercase;
    margin-top:50px;
    padding:10px 30px;
}
header .btn-primary.focus, .btn-primary:focus,
header .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus

{
    box-shadow:0 0 0 0.2rem #ff5964(255, 38, 38, 0.5);
}

header i 
{
    color:#f7f1e3;
}
header .navbar li
{
margin-right:1rem;
}
header .navbar .active
{
background: #ff5964;
border-radius: 10px;
}
.hvr-underline-from-right:before
{
    background:#ff5964 !important;
}



@media (max-width:991px){

        header li
        {
            text-align: center;
        }
        header .navbar .active
        {
            border-radius:5px !important;
            background: #ff5964;
            font-weight: bold;
        }
}


/* end styling uper bar div */


/* styling section features */


.features .feat
{
    margin-bottom: 25px;
    margin-top: 25px;
}

.features .feat i
{
    font-size: 4em;
    color:#ff5964;
    margin-bottom: 25px;
}
.features h6
{
    margin-bottom: 30px;
}
.features p
{
    font-weight: lighter;
}
/* end styling section features */


/* styling gallery section */

.gallery .view-overlay 
{
    position: relative;
}
.gallery .mask
{
    position: absolute;
    opacity: 0;
    bottom:0;
    left:0;
    right: 0;
    height: 0;
    transition: all 0.5s ease;
}
.gallery .view-overlay:hover .mask
{
    opacity: 1;
    height: 100%;
    background: #ff5964e3;
}
.gallery .mask p
{
    color:#f7f1e3;
}
/* end gallery section */

/* start our team section */



.our-team small
{
    color:#ff5964;
    font-weight: bold;
}
.our-team li
{
    box-shadow: 0.5px 0.5px 0.5px 0.5px  #C6CACC;
    padding:0 5px ;
    color:#C6CACC !important;
}
.our-team li a
{
    color:unset;
}
.our-team .hvr-fade:active, .hvr-fade:focus, .hvr-fade:hover
{
    color:#fff !important;
}
.our-team p
{
    color:#6C7279;
    font-size: small;
}

@media (max-width:767px)
{
    .our-team .member
    {
        margin-bottom: 3rem;
    }
}

/* end our team section */

/* start testimonials section */

.testimon li
{
    font-size: small;
}

.testimon .testi-content
{
    background: #53354A;
}

.testimon .testi-content p,
.testimon .testi-content small
{
    color:#f7f1e3;
}
.testimon .cont-relative
{
    position: relative;
}
.testimon ul
{
    position: absolute;
    bottom:5%;
    left: 80%;
}
.testimon ul li
{
    cursor: pointer;
}
.testimon .cont-relative .testi-item
{
        font-size:1em !important;
    }
.testimon .active
{   
    min-width: 100%;
    max-width: 100% !important;
}

/* end testimonials section */


/* download */

.download .btn-primary
{
    background: #ff5964;
    border-color: #ff5964;
    border-radius: 0;
    text-transform: uppercase;
    margin-top:50px;
    padding:10px 30px;
}
.download .btn-primary.focus, .btn-primary:focus,
.download .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus

{
    box-shadow:0 0 0 0.2rem #ff5964(255, 38, 38, 0.5);
}

/* end download */


/* start footer */


.footer
{
    background-color: #3A3E64;
    color:#f7f1e3 !important;
}
.footer h6
{
    text-transform: uppercase;
}

.footer .foter-item address,
.footer small
{
    color:rgb(166, 172, 177) !important
}
.footer a
{
    color:unset !important;
}

@media (max-width:767px){

    .foter-item
    {
        margin-bottom: 2em;
    }
}
/* end footer */

/* start copyrights */

.copyRights
{
    background: #313454;
    color:#6C7279;
}
.copyRights strong
{
color:#ff5964;
text-transform: capitalize;
}

/* end copyrights */