/*
AUTHOR INFO 
NAME : ISLAM SAEED 
EMAIL : ISLAM.S.MHMD1998@GMAIL.COM
*/

/* STANDARD  SYNTAX FOR THEME 


FIRST COLOR : #7ACEC3 ;
SECOND COLOR : #EBB240;
THIRD COLOR : #FFFFFF ;
FOURTH COLOR : #DFE0D9 ;
FIFTH COLOR : #717D86 ;
SIXTH COLOR : #CECECE ;
SEVENTH COLOR :#FF9B6D ;
NINGTH COLOR : #D4EDBF ;

HEADERS FONT : font-family: 'Anton', sans-serif; ;

*/


header 
{
    height: 450px;
    background: url("../IMGS/background.png") center center no-repeat;
    background-size: cover;
}
header .background-container 
{
    text-transform: uppercase;
}

/* styling uper bar div */

/* end styling uper bar div */